<section class="wrapper">
            <!-- page start-->
            there is the body of my page
            <div class="row">
                <!-- <div class="col-sm-6">
                    <section class="panel">
                        <header class="panel-heading">
                            Basic Table
                        </header>
                      
                    </section>
                </div> -->
                <router-outlet></router-outlet>
            </div>
            <!-- page end-->
        </section>